<!DOCTYPE html>
<html lang="en">
<head>
    <title>Best Chat Ever</title>
</head>
<body>
    <h1>Join one of the existing groups or create your own!</h1>
    <div>
        <ul id="GroupList"></ul>
    </div>
    <input type="text" maxlength="40" id="GroupID" placeholder="Enter new group topic" > <br>
    <input type="button" onclick="create_group();" value="Enter chat!" >
    <script type = "text/javascript" src = "http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script language="JavaScript" type="text/javascript">
        var message;
        var user_id;
        ws = new WebSocket("ws://localhost:6544");

        // вызовется, когда соединение будет установлено:
        ws.onopen = function() {
            message = '(Get_groups)';
            ws_send(message);
            user_id = document.location.href.split("=")[1];
        };

        // вызовется, когда соединено закроется
        ws.onclose = function() {
        };

        // вызовется, когда браузер получает какие-то данные через веб-сокет
        ws.onmessage = function(evt) {
            var parsed_data = JSON.parse(evt.data).split(",");
            var newEl = document.createElement('li');
            $("#GroupList").append(newEl);
            var newEl1 = document.createElement('a');
            newEl.href = "http://localhost:6543/group?group=" + parsed_data[0] + "&user_id=" + user_id;
            newEl.innerHTML = parsed_data[1];
            newEl1.append(newEl);
        };

        function ws_send(message)
        {
            var JSONmsg = JSON.stringify(message);
            ws.send(JSONmsg);
        }

        function create_group()
        {//
            var topic = $("#GroupID").val();
            message = '(Group_created) ' + topic;
            ws_send(message);
        }
    </script>
</body>
</html>